.ff {
  position: fixed;
  top: -50%;
  left: -50%;
  min-width: 200%;
  min-height: 200%;
}

.ff #mountains {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.night {
  position: fixed;
  top: -50%;
  left: -50%;
  min-width: 200%;
  min-height: 200%;
}

.marmot {
  position: absolute;
  height: auto;
  width: auto;
}

#marmotGIF {
  position: fixed;
  top: 635px;
  left: 35px;
  visibility: hidden;
}

.text-block {
  color: rgb(28, 195, 240);
  padding-left: 35px;
  padding-bottom: 15px;
  padding-top: 10px;
  padding-right: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  max-width: 400px;
  min-width: 400px;
}

input {
  height: 35px;
  width: 200px;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.8);
  color: white;
}

button {
  color: rgb(239, 243, 246);
  text-shadow: 2px 2px 2px black;
  background-image: linear-gradient(rgb(28, 195, 240), rgb(15, 131, 198));
  height: 70px;
  font-family: 'Peralta', cursive;
  font-size: 15px;
  border-radius: 3px;
  border-color: black;
}

#name-button {
  height: 38px;
}

h1 {
  font-family: 'Peralta', cursive;
  font-size: 65px;
  text-shadow: 15px 15px 15px black;
  margin-bottom: 15px;
  margin-top: 15px;
}

h3 {
  font-family: 'Peralta', cursive;
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
}

.metrics {
  font-family: 'Peralta', cursive;
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
  border-collapse: separate;
  border-spacing: 40px 0;
  margin-bottom: 15px;
}

td {
  padding: 10px 0;
}

.actions {
  padding-top: 10px;
  border-spacing: 5px;
  margin-left: none;
  visibility: hidden;
}

.name-box #name-button {
  visibility: visible;
}
